@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|B612+Mono|Cousine|Cutive+Mono|Fira+Mono|IBM+Plex+Mono|Inconsolata|Nanum+Gothic+Coding|Nova+Mono|Overpass+Mono|Oxygen+Mono|PT+Mono|Roboto+Mono|Share+Tech+Mono|Source+Code+Pro|Space+Mono|Ubuntu+Mono|VT323');

body{
    font: caption !important;
    overflow: hidden;
    background-color: #000000 !important;
}

::-webkit-scrollbar { 
}


.iconbar-container {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.nav {
    height: 25px;
}

.icon-bar {
    height: 60px;
}

.body-elems {
    margin-top: 85px;
}

.three-cols {
    position: fixed;
    top: 85px;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.editor-panel {
    max-height: 10px;
}

.Resizer {
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5.5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.sidebar-panel{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: auto;
}

.theme--light .nav{
    background-color: #f5f5f4;
    border-bottom: 1px solid #eee;
}

.theme--light .menuItem{
    color: rgba(0,0,0,.7);
}

.theme--light .menuItem:hover {
    color: rgba(0,0,0,.9);
}

.theme--light .sidebar-panel.col {
    background-color: #f5f5f4;
    color: rgba(0,0,0, 0.8);
}

.theme--light .file-list-folder {
    color: rgba(255,255,255,.9);
    background-color: #dcdfe1;
}

.theme--light .item-container{
    border-bottom: 1px solid #eee;
}

.theme--light .file-list-item svg{
    color: #000;
}

.theme--light .item-container.active {
    color: rgba(0,0,0, 0.9);
    background-color: #dcdfe1
}

.theme--light .item-container:hover {
    color: rgba(0,0,0,.7);
    background-color: #dcdfe1;
}

.theme--light .file-list-folder {
    color: rgba(0,0,0,.9);
}

.theme--light .icon-bar{
    background-color: #e8e8e8;
}

.theme--light .icon-bar button, .icon-bar div {
    color: rgba(0,0,0,.7);
}

.theme--light .ghci-console, .ghci-input{
    background-color: #ffffff;
    color: #000;
}

.theme--light .ghci-input{
    border: 1px solid #b9b6b6;
}

.theme--light.body{
    background-color: #fff !important;
}

.theme--light .consoleIcons .btn{
    color: #000;
    border: none;
}

.theme--light .icon-bar .filename{
    color: rgba(0,0,0,.7);
}

.theme--light .btn-run:hover,
.theme--light .btn-save:hover{
    color: #fff;
}


.theme--light .room-empty-container, 
.theme--light .room-chat-container{
    background-color: #e8e8e8;
}

.theme--light .room-container{
    border: 1px solid #e8e8e8;
}

.theme--light .room-name{
    color: rgba(0,0,0,.7);
}

.theme--light .room-cards .card{
    background-color: #e8e8e8 !important;
}

.theme--light .room-cards .card-body{
    color: rgba(0,0,0,.7) !important;
}

.theme--dark .modal-content{
    background-color: #32353D;
    color: #fff;
}

.theme--dark .modal-header{
    border-bottom: 1px solid #424446;
}

.show-false{
    display: none;
}