.icon-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #32353D;
}

.icon-bar button, .icon-bar div{
    background-color: transparent;
    border: none;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-bar .btn-run span{
    margin-left: 5px;
}

.col{
    padding: 0 !important;
}