.icon-bar {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bar button {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: block;
}

.icon-bar button:hover {
    background-color: #eeeeee;
}