.ghci-console{
    min-height: 250px;
}

.ghci-console, .ghci-input{
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
    padding: 6px;
    box-shadow: 1px 1px 1px black;
    background-image: linear-gradient(0deg, #AAAAAA, #CCCCCC)
}

.ghci-console:focus, .ghci-input:focus{
    outline: none;
}